{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('assets/lib/bootstraplogin/css/bootstrap.min.css') }}"> 
    <link rel="stylesheet" href="{{ asset('assets/lib/admin/styles.css') }}">  
{% endblock %}



{% block title %}Log in!{% endblock %}

{% block body %}


<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-3"> 
            </div>
            <div class="col-lg-6"> 
                <img src="{{ asset('assets/images/logo_admin.png')}}" class="logo"> 
                <div class="card2 card border-0 px-4 py-5">  
                    <div class="form-login pt-5">
                        
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        
                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que{{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="row px-3"> <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Adresse mail</h6>
                                </label> <input class="mb-4" value="{{ last_username }}" name="email" placeholder="Entrez une adresse mail"> </div>
                            <div class="row px-3"> <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Mot de passe</h6>
                                </label> <input type="password"  name="password" id="inputPassword"  placeholder="Entrer le mot de passe"> </div>
                            <div class="row px-3 mb-4"> 
                                 <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}"> 
                                 <!--
                                          <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                           
                                 -->
                            </div>  
                            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Connexion</button> </div> 
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"> 
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy;{{ "now"|date("Y") }}. Tous les droits sont réservés.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}
