<h2 class="produit_interesser">Produits qui pourraient vous intéresser</h2>
<div class="row">
	
	{% if list_produits is not empty %}
		{% for produit in list_produits %}
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="item_sous_categorie">
					<div class="img_sous_categorie">
						<a href="{% if produit.sousCategorie is not null %}{{ path('produit_selected',{'cat_slug':produit.sousCategorie.categorie.slug,'souscat_slug':produit.sousCategorie.slug,'slug':produit.slug}) }}{% else %}{{ path('produit_selected_cat',{'cat_slug':produit.categorie.slug,'slug_produit':produit.slug}) }}{% endif %}">
							{% if produit.image is not empty %}
								<img class="img-fluid" src="{{ asset (vich_uploader_asset(produit,'imageFile')) }}" alt="{{produit.titre}}">
							{% endif %}
						</a>
					</div>
					<div class="text_sous_categorie">
						<label>{{produit.reference}}</label>
						<h2 class="titre_item_sous_categorie">{{produit.titre}}</h2>
						<h3 class="dimensions_item_sous_categorie">Dimensions</h3>
						<p>{{produit.dimensions}}</p>
					</div>
					<div class="plus_produit">
						<a href="{% if produit.sousCategorie is not empty %}{{ path('produit_selected',{'cat_slug':produit.sousCategorie.categorie.slug,'souscat_slug':produit.sousCategorie.slug,'slug':produit.slug}) }}{% else %}{{ path('produit_selected_cat',{'cat_slug':produit.categorie.slug,'slug_produit':produit.slug}) }}{% endif %}">
							<img src="{{ asset('assets/images/right.png') }}" alt="flesh">
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>{{"Il n'y a aucune produit pour l'instant."|trans}}</p>
	{% endif %}
	
</div>