<title>{{actualite_selected.titre}}</title>
<meta name="title" content="{{actualite_selected.seoTitre}}" />
<meta name="description" content="{{actualite_selected.seoDescription}}" />
<meta name="keywords" content="{{actualite_selected.seoMeta}}" />  

<meta property="og:locale" content="fr_FR"/>
<meta property="og:site_name" content="https://"/>
<meta property="og:title" content="{{actualite_selected.seoTitre}}"/>
<meta property="og:url" content="{{ absolute_url(path('actualite_selected',{'slug':actualite_selected.slug}))}}"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="{{actualite_selected.seoDescription}}"/>
<meta property="og:image" content="{% if actualite_selected.image is not empty %}{{ absolute_url(asset(vich_uploader_asset(actualite_selected,'imageFile')))}}{% endif %}"/> 
 
<meta name="twitter:title" content="{{actualite_selected.seoTitre}}"/>
<meta name="twitter:url" content="https://"/>
<meta name="twitter:description" content="{{actualite_selected.seoDescription}}"/>
<meta name="twitter:card" content="summary_large_image"/>

