<title>{{page_selected.seoTitre}}</title>
<meta name="title" content="{{page_selected.seoTitre}}" />
<meta name="description" content="{{page_selected.seoDescription}}" />
<meta name="keywords" content="{{page_selected.seoKeywords}}"/>  
<meta property="og:title" content="{{page_selected.seoTitre}}"/>
<meta property="og:url" content="https://"/>
<meta property="og:type" content="page"/>
<meta property="og:image" content="{{ asset (vich_uploader_asset(page_selected,'imageFile')) }}"/>
