<title>{{evenement_selected.titre}}</title>

<meta name="title" content="{{evenement_selected.seoTitre}}" />
<meta name="description" content="{{evenement_selected.seoDescription}}" />
<meta name="keywords" content="{{evenement_selected.seoKeywords}}" />  

<meta property="og:locale" content="fr_FR"/>
<meta property="og:site_name" content="https://"/>
<meta property="og:title" content="{{evenement_selected.seoTitre}}"/>
<meta property="og:url" content="{{ absolute_url(path('evenement_selected',{'slug':evenement_selected.slug})) }}"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="{{evenement_selected.seoDescription}}"/>
<meta property="og:image" content="{{ absolute_url(asset(vich_uploader_asset(evenement_selected,'imageFile')))}}"/> 
 
<meta name="twitter:title" content="{{evenement_selected.seoTitre}}"/>
<meta name="twitter:url" content="https://"/>
<meta name="twitter:description" content="{{evenement_selected.seoDescription}}"/>
<meta name="twitter:card" content="summary_large_image"/>

