<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="logo_footer">
					<a href="{{ path('homepage') }}"><img class="img-fluid" src="{{ asset('assets/images/logo_footer.png') }}" alt="Logo Boitaloc"></a>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="menu_footer">
					<ul>
						<li><a href="{{ path('homepage') }}">Accueil</a></li>
						<li><a href="{{ path('catalogue') }}">Catalogue</a></li>
						<li><a href="{{ path('evenements') }}">Evénements</a></li>
						<li><a href="{{ path('actualites') }}">Actualités</a></li>
						<li><a href="{{ path('contact_link') }}">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="info_footer">
					<label>Nous appeler</label>
					<p>+212 6 62 48 76 55</p>
				</div>
			</div>
			<div class="col-lg-5 col-md-4">
				<div class="info_footer">
					<label>Email</label>
					<p>contact@boitaloc.ma</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="info_footer">
					<label>Nous suivre</label>
					<ul>
						<li><a href="#"><img src="{{ asset('assets/images/facebook_footer.png') }}" alt="Facebook"></a></li>
						<li><a href="#"><img src="{{ asset('assets/images/instagram_footer.png') }}" alt="Instagram"></a></li>
						<li><a href="#"><img src="{{ asset('assets/images/youtube_footer.png') }}" alt="Youtube"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>