<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-9 col-8">
				<div class="logo">
					<a href="{{ path('homepage') }}"><img class="img-fluid logo_desktop" src="{{ asset('assets/images/logo.png') }}" alt="Boitaloc"></a>
					<a href="{{ path('homepage') }}"><img class="img-fluid logo_mobile" src="{{ asset('assets/images/logo_mobile.png') }}" alt="Boitalocs"></a>
				</div>
				<div class="social_media_header">
					<ul>
						<li><a href="#"><img src="{{ asset('assets/images/fb.png') }}" alt="Facebook"></a></li>
						<li><a href="#"><img src="{{ asset('assets/images/instagram.png') }}" alt="instagram"></a></li>
						<li><a href="#"><img src="{{ asset('assets/images/youtube.png') }}" alt="youtube"></a></li>
						<li><a href="#"><img src="{{ asset('assets/images/mail.png') }}" alt="mail"></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-10 col-md-10 col_hidden"></div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-4">
				<div class="hamburger" id="hamburger">
					<button>
						<span class="bar"></span>
					</button>
					<samp>Menu</samp>
					<span class="ferme">fermer</span>
				</div>
				<div class="menu hide_menu">
					<!--div class="hamburger" id="hamburger_menu">
						<button>
							<span class="bar"></span>
						</button>
						<samp>Menu</samp>
						<span class="ferme">fermer</span>
					</div-->
					<div>
						<div class="logo_menu">
							<a href="{{ path('homepage') }}"><img class="img-fluid" src="{{ asset('assets/images/logo_footer.png') }}" alt="Boitaloc"></a>
						</div>
						<ul class="menu_ul">
							<li><a href="{{ path('homepage') }}">Accueil</a></li>
							<li><a href="{{ path('catalogue') }}">Catalogue</a></li>
							<li><a href="{{ path('evenements') }}">Evénements</a></li>
							<li><a href="{{ path('actualites') }}">Actualités</a></li>
							<li><a href="{{ path('contact_link') }}">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

