<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta http-"equiv=X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block seoheader %}
            {% include 'Frontend/Render/_seoheader.html.twig' %}
        {% endblock %}

        <meta name="language" content="fr" />

        <link href="{{ asset('assets/images/logo.png')}}" rel="image_src"  />
        <link rel="shortcut icon" href="{{ asset(path_config_upload ~ '/' ~ favicon)}}" />

 

     
        {% block stylesheets %}
            {% include 'Frontend/Render/_stylesheets.html.twig'%} 
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">

        {% block javascripts %}
            {% include 'Frontend/Render/_javascripts.html.twig'%} 
        {% endblock %}
        
    </head>
    <body>


        {% block header %}
            {{ render(path('_header')) }}    
        {% endblock %}


        {% block switcher %}{% endblock %}


        {% block body %}{% endblock %}


          

        {% block footer %}
            {{ render(path('_footer')) }}  
        {% endblock %}
    </body>


	<script type="text/javascript" src="{{ asset('assets/js/main.js')}}"></script>



</html>
